@import './utils/variables';

@import './base/common';
@import './base/conteiner';

@import './layout/page-header';

@import './components/logo';

@import './components/nav';

@import './components/contacts';

@import './components/hero';

@import './layout/section';

@import './utils/placeholder';

@import './components/features';

@import './components/work';

@import './components/team';

@import './components/social-icons';

@import './components/clients';

@import './layout/footer';
@import './components/address';

@import './components/join';

@import './components/footer-form';

@import './components/portfolio';

@import './components/modal';

@import './components/form';
