.form__group {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.form__title {
  margin-bottom: 12px;
  padding-top: 40px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
}

.form__item {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
  text-align: left;
}

.form__input {
  height: 40px;

  padding-left: 42px;
  padding-right: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function), fill var(--duration) var(--timing-function);
}

.form__input:hover,
.form__input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
  outline: none;
}

.form__input:hover + .modal__icon,
.form__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill var(--duration) var(--timing-function);
}

.form__input--comment {
  padding: 12px 16px;
  margin-bottom: 20px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form__input--comment:hover,
.form__input--comment:focus {
  border-color: var(--accent-color);
  cursor: pointer;
  outline: none;
}

.form__input--comment::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox__label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primery-text-color);
  text-align: center;
}

.conditions {
  color: var(--accent-color);
  margin-left: 5px;
}

.form-checkbox__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-checkbox__label::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 3px;
  margin-right: 8px;
  display: inline-block;
  transition: background-color var(--duration) var(--timing-function);
}

.form-checkbox__input:checked + .form-checkbox__label::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icons/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-color var(--duration) var(--timing-function);
}

.form-checkbox__input:focus-within ~ .form-checkbox__label::before {
  border: 1px solid rgba(33, 150, 243, 1);
  outline: none;
  transition: border-color var(--duration) var(--timing-function);
}

.form__button-thumb {
  text-align: center;
}

.form__btn-submit {
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 10px 55px;

  margin-top: 30px;
  margin-bottom: 40px;

  color: var(--hero-text-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--duration) var(--timing-function);
}

.form__btn-submit:hover {
  background-color: var(--accent-color);
}
