.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  z-index: 2;
  opacity: 1;
  transition: opacity var(--duration) var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 528px;
  min-height: 581px;

  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);

  &__button {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    display: inline-flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--primary-bg-color);
    transition: color var(--duration) var(--timing-function);
    cursor: pointer;
  }

  &__button:hover,
  &__button:focus {
    fill: var(--accent-color);
  }
}
