:root {
  --primary-text-color: #212121;
  --hero-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --secondary-text-color: #757575;
  --footer-contact-color: #ffffff99;

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --overlay-bg-color: rgba(33, 150, 243, 0.9);

  --primery-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;

  --header-border: #ececec;
  --portfolio-border: #eeeeee;

  --icon-color: #afb1b8;

  --backdrop-color: rgba(0, 0, 0, 0.2);

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
